%text-font{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
%title-font{
	font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

%footer-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

$font-title: 'PT Serif', serif;
$font-text: 'Roboto', sans-serif;
